<div>
  <h1>
    {{
      isListShowing
        ? "
      List of Available Parts"
        : "Press the Button to show available car parts"
    }}
  </h1>
  <div>
    <div *ngIf="isListShowing" class="mb-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="col">Part Name</th>
            <th scope="col" class="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td class="col">
              {{ item.name }}
            </td>
            <td class="col">
              {{ item.price }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex gap-3">
      <button (click)="showList()" mat-raised-button>
        {{ isListShowing ? "Hide List" : "Show List" }}
      </button>
    </div>
  </div>
</div>
<!-- Agregar estilos al form -->
<div>
  <div>
    <list-add-form></list-add-form>
  </div>
</div>
