<div class="">
  <h2 class="mt-3">Add New Parts</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="newItemForm">
    <div class="mt-3">
      <label for="name" class="form-label">Part Name</label>
      <input type="text" formControlName="name" class="form-control" />
      <span *ngIf="isNotValidField('name')" class="form-text text-danger">
        Name is required and must have at least 3 characters.
      </span>
    </div>
    <div class="mt-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" formControlName="price" class="form-control" />
      <span *ngIf="isNotValidField('price')" class="form-text text-danger">
        Price is required, and must have at leart 2 characters.
      </span>
    </div>
    <button mat-raised-button color="primary" class="mt-3">Add New Part</button>
  </form>
</div>
